---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
    
    {% if page.university or page.semester %}
      <div class="teaching-meta">
        {% if page.university %}
          <span class="teaching-info">
            <a href="{{ page.university | slugify | prepend: '/teaching/university/' | relative_url }}">
              <i class="fas fa-university"></i> {{ page.university }}
            </a>
          </span>
        {% endif %}
        {% if page.university and page.semester %}
          <span class="teaching-info">&nbsp; &middot; &nbsp;</span>
        {% endif %}
        {% if page.semester %}
          <span class="teaching-info">
            <a href="{{ page.semester | slugify | prepend: '/teaching/semester/' | relative_url }}">
              <i class="fas fa-calendar"></i> {{ page.semester }}
            </a>
          </span>
        {% endif %}
      </div>
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
